.profile__edit {
    background: url('../../../images/profile-edit.svg');
    background-size: 10px;
    width: 24px;
    height: 24px;
    border: 1px solid #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    align-self: flex-end;
    padding: 0;
    margin: 15px 2px 12px 18px;
}

@media screen and (max-width: 320px) {
    .profile__edit {
    margin-top: 7px;
   }
  }