.elements__button{
    background: url('../../../../../images/element-like.svg');
    background-size: 100%;
    min-width: 22px;
    min-height: 19px;
    border: none;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    cursor: pointer;
}
.elements__button:hover {
    opacity: 0.5;
}
.elements__button:active {
    opacity: 1;
    background: url('../../../../../images/dark-like.svg');
}