.profile__description{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin: 0;
padding: 0;
white-space: nowrap;
margin-top: 16px;
}

@media screen and (max-width: 650px) {
    .profile__description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
   }
  }

  @media screen and (max-width: 320px) {
    .profile__description {
      padding-top: 14px;
      margin:0;
   }
  }