.profile__info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
@media screen and (max-width: 1070px) {
    .profile__info {
        text-align: center;
   }
}
@media screen and (max-width: 430px) {
    .profile__info {
        padding-left: 17px;
        padding-right: 10px;
        justify-content: center;
        max-width: 190px;
   }
}
