.profile__button {
  background: url('../../../images/profile-button.svg');
  background-size: 22px;
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  padding: 0;
}
.profile__button:hover{
  opacity: 0.6;
}
@media screen and (max-width: 1000px) {
  .profile__button {
      min-width: 282px;
      min-height: 50px;
 }
}
@media screen and (max-width: 320px) {
  .profile__button {
      margin-top: 7.75px;
      background-size: 16px;
 }
}
