.popup__container-picture {
    align-items: center;
    position: relative;
}

@media screen and (max-width: 560px) {
    .popup__container-picture {
        min-width: 240px;
        margin-left: 40px;
        margin-right: 40px;
   }
}
